.Rproj.user
.Rhistory
.RData
.Ruserdata
/.quarto/
/_book/
/_site/
/_targets/
elsarticle-num.bst
elsarticle.cls
index.spl
A-Template-Quarto-Repository.tex
elsarticle-harv.bst
*_cache/
*-tikzDictionary
*_files/
rumble-strips.Rproj
data/all_station_data.rds
data/list_of_hourly_volumes
data/all_station_data
/output
