sandbox/
library/
local/
cellar/
lock/
python/
staging/
# ignore the contents of the temp_data and output directories
# but not the directories themselves
!data/temp_data/
data/temp_data/*
!output/
output/*
